body {
    background-color: #00937A;
    width: 100%;
    height: 100%;
    margin: 0%;
    font-family: 'nunito';
    color: #80EFDC;
    text-align: center;
}    
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.images {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.imgslct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#botao_reiniciar {
    padding: 1.5rem 4rem;
    background-color: #56D7C1;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    box-shadow: 3px 3px 3px 0 black;
    color: #002A23;
}
.output {
    width: 100%;
}
section figure img {
    display: flex;
    width: 100%;
    height: 14rem;
    margin: 0 auto;
}
.hidden {
    display: none;
}
.imgslct input{
    height: 8rem;
    width: 7rem;
}
footer  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-end;
}
footer section {
    font-size: 10px;
    text-align: center;
}
.icones{
    margin: 0;
    padding: 1rem;
}
iframe {
    padding: 1rem;
    width: 300px; 
    height: 180px;
}
@media (min-width: 768px) {
    section figure img {
        width: 70%;
        height: 35%;
    }
    .images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%
    }
    iframe {
        width: 50%;
        height: 24rem;
    }
    #botao_reiniciar:hover {
        cursor: pointer;
        padding: 1.5rem 6rem;
        transition: 0.3s;
    }
}